<div class="content-group">
	<show-message message="vm.message"></show-message>
	<!-- Headers -->
	<div class="panel panel-default">
  				<div class="row">
  					<div class="col-md-12">
					<h3 class="panel-title"  style="padding: 1%">
						Account Group<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h3>
				</div>
			</div>
	</div>
	
	<div class="panel panel-default">
 	 <div class="pricelet-default-panel-body">
		<button type="button" ng-click="vm.add()" style=" margin: 5px 0px 5px 5px;">
			<i class="icon-add position-left"></i>Account Group</button>			
			<form name="vm.accountForm" class="form-validate">
				<table ng-table="vm.tableParams"
					class="table table-bordered table-striped table-condensed editable-table"
					width="100%">
					<thead>
						<tr class="bg-info-600 border-info-600">
							<th>Description</th>
							<th style="text-align: right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="acc in  $data">
							<td>
								<span ng-hide="acc.editing || acc.creating">{{acc.description}}</span>
								<div ng-show="acc.editing || acc.creating" class="form-group has-feedback has-feedback-left" show-errors>
									<input type="text"
										id="description-id"
										name="description"
										ng-minlength="3"
										class="form-control datatable-input"
										ng-model="acc.description" required>
								<label  ng-show="vm.accountForm.description.$touched && 
												vm.accountForm.description.$invalid"
									    class="validation-error-label"
									    for="description-id">
										Description should contain more than 3 character. 
								</label>
								</div>
								
							</td>
							<td align="right" ng-hide="acc.editing || acc.creating">
								<ul class="icons-list">
									<li class="teacc-primary-600"><a href="#"
										data-popup="tooltip" title data-original-title="Edit"> <span
											class="icon-pencil7" ng-click="vm.edit(acc)"></span>
									</a></li>
									<li class="teacc-danger-600"><a href="#"
										data-popup="tooltip" title data-original-title="Remove"> <span
											class="icon-trash" ng-click="vm.remove(acc)"></span>
									</a></li>
								</ul>
							</td>
							<td align="right" ng-show="acc.editing">
								<ul class="icons-list">
									<li class="text-primary-600"><a href="#"
										data-popup="tooltip" title data-original-title="ok"> <span
											class="glyphicon glyphicon-ok" ng-click="vm.saveEdition(acc)"></span>
									</a></li>
									<li class="text-danger-600"><a href="#"
										data-popup="tooltip" title data-original-title="cancel"> <span
											class="glyphicon glyphicon-remove" ng-click="vm.cancel(acc)"></span>
									</a></li>
								</ul>
							</td>
							<td align="right" ng-show="acc.creating">
								<ul class="icons-list">
									<li class="text-primary-600"><a href="#"
										data-popup="tooltip" title data-original-title="ok"> <span
											class="glyphicon glyphicon-ok" ng-click="vm.create(acc)"></span>
									</a></li>
									<li class="text-danger-600"><a href="#"
										data-popup="tooltip" title data-original-title="cancel"> <span
											class="glyphicon glyphicon-remove" ng-click="vm.cancel(acc)"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				</form>
			</div>
		</div>

	</div>
</div>

<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/icons/icomoon/styles.css"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/core.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/components.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet"
	type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->

<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>

<!-- /core JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>

<link rel="stylesheet"
	href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
