<div class="content-group"	ng-controller="AccSubgroupController as control">
	<div class="row text-center">
		<div class="col-md-6">
			<div style="display:flex; padding-bottom:10px">
				<button type="button" ng-click="control.addNew()"	 class="btn btn-primary">
					<i class="icon-add position-left"></i>Create</a>
				</button>
			</div>
		</div>
	</div>

	<div class="panel panel-flat">
		<table class="table" width="100%">
			<thead>
				<tr class="bg-info-600 border-info-600">
					<th>All Account Sub Groups</th>
					<th>Main Group</th>
					<th style="text-align: right">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="acc in accounts">
					<td><span ng-hide="acc.editing || acc.creating">{{acc.description}}</span>
						<div class="col-lg-10" ng-show="acc.editing || acc.creating">
							<div class="input-group">
								<input type="text" class="form-control"
									ng-model="acc.description"> <span
									class="input-group-btn"> </span>
							</div>
						</div></td>

					<td><span ng-hide="acc.editing || acc.creating">{{acc.account.description}}</span>
						<select ng-show="acc.editing || acc.creating"
						ng-model="acc.account" selected
						ng-options="x.description for x in mainGroups track by x.description"></td>

					<td align="right" ng-hide="acc.editing || acc.creating">
						<ul class="icons-list">
							<li class="text-primary-900"><a href="#"
								data-popup="tooltip" title data-original-title="Edit"> <span
									class="icon-pencil7" ng-click="control.edit(acc)"></span>
							</a></li>
							<li class="text-primary-900"><a href="#"
								data-popup="tooltip" title data-original-title="Remove"> <span
									class="icon-trash" ng-click="control.remove(acc)"></span>
							</a></li>
						</ul>
					</td>
					<td align="right" ng-show="acc.editing">
						<ul class="icons-list">
							<li class="text-primary-600"><a href="#"
								data-popup="tooltip" title data-original-title="ok"> <span
									class="glyphicon glyphicon-ok"
									ng-click="control.saveEdition(acc)"></span>
							</a></li>
							<li class="text-danger-600"><a href="#" data-popup="tooltip"
								title data-original-title="cancel"> <span
									class="glyphicon glyphicon-remove"
									ng-click="control.cancel(acc)"></span>
							</a></li>
						</ul>
					</td>
					<td align="right" ng-show="acc.creating">
						<ul class="icons-list">
							<li class="text-primary-600"><a href="#"
								data-popup="tooltip" title data-original-title="ok"> <span
									class="glyphicon glyphicon-ok" ng-click="control.create(acc)"></span>
							</a></li>
							<li class="text-danger-600"><a href="#" data-popup="tooltip"
								title data-original-title="cancel"> <span
									class="glyphicon glyphicon-remove"
									ng-click="control.cancel(acc)"></span>
							</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- /scrollable datatable -->

<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/icons/icomoon/styles.css"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/core.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/components.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<!-- Theme JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/pages/datatables_basic.js"></script>


