<div class="content-group"
	ng-controller="xTransactionController as control">
	<div class="page-header page-header-inverse"
		style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
		<div class="page-header-content  bg-info-800">
			<div class="page-title">
				<h5>
					<i class="icon-arrow-left52 position-left"></i> <span
						class="text-semibold">Transactions</span> <small
						class="display-block">Register All your transactions</small>
				</h5>
				<a class="heading-elements-toggle"><i class="icon-more"></i></a>
			</div>
		</div>
	</div>

	<div class="panel border-info-600">
		<div class="panel-heading">
			<h6 class="panel-title">
				Register New Transaction<a class="heading-elements-toggle"> <i
					class="icon-more"></i></a>
			</h6>
		</div>
		<div class="panel-body">
		<div class="row">
		<div col-md-6 col-md-offset-1>
			<form action="#">
				<div class="panel panel-flat">
					<div class="panel-body">
						<div class="form-group">
							<label>Main Group</label>
								<select class="form-control" ng-model="newXTransaction.account"
									ng-options="x.description for x in mainGroups">
								</select>
						</div>
						<div class="form-group">
							<label>Sub Group</label>
								<select class="form-control"
									ng-model="newXTransaction.accSubGroup"
									ng-options="x.description for x in subGroups">
								</select>
						</div>

						<div class="form-group">
							<label>Description</label>
								<input type="text" class="form-control"
									ng-model="newXTransaction.description">
						</div>
					
						<div class="form-group">
							<label>Amount</label>
								<input type="text" class="form-control"
									ng-model="newXTransaction.valor">
						</div>

						<div class="form-group">
							<label>I/O</label>
								<input type="text" class="form-control"
									ng-model="newXTransaction.entrada">
						</div>

						<div class="form-group">
							<div class="text-right">
								<button ng-click="create(newXTransaction)"
									class="btn btn-primary">
									Submit <i class="icon-arrow-right14 position-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
    		</div>
    		</div>
		</div>
	</div>

	<div class="panel panel-flat">
		<table class="table" width="100%">
			<thead>
				<tr class="bg-info-600 border-info-600">
					<th>All Transactions</th>
					<th>Main Account</th>
					<th>Sub Account</th>
					<th>Debit/Credit</th>
					<th>Amount</th>
					<th>Date Creation</th>
					<th style="text-align: right">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="xt in xtransactions">
					<td><span ng-hide="xt.editing">{{xt.description}}</span>
						<div class="col-lg-10" ng-show="xt.editing">
							<div class="input-group">
								<input type="text" class="form-control"
									ng-model="xt.description">
							</div>
						</div></td>
					<td><span ng-hide="xt.editing">{{xt.account.description}}</span>
						<div class="col-lg-10" ng-show="xt.editing">
							<div class="input-group">
								<input type="text" class="form-control"
									ng-model="xt.account.description">
							</div>
						</div></td>
					<td><span ng-hide="xt.editing">{{xt.accSubGroup.description}}</span>
						<div class="col-lg-10" ng-show="xt.editing">
							<div class="input-group">
								<input type="text" class="form-control"
									ng-model="xt.accSubGroup.description">
							</div>
						</div></td>
					<td><span ng-hide="xt.editing">{{xt.entrada ? 'Debit':
							'Credit'}}</span>
						<div class="col-lg-10" ng-show="xt.editing">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="xt.entrada">
							</div>
						</div></td>
					<td><span ng-hide="xt.editing">{{xt.valor}}</span>
						<div class="col-lg-10" ng-show="xt.editing">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="xt.valor">
							</div>
						</div></td>
					<td>
						<span>{{xt.dateTransaction}}</span>
					</td>
					<td align="right" ng-hide="xt.editing">
						<ul class="icons-list">
							<li class="text-primary-600">
							<a href="#"	data-popup="tooltip" title data-original-title="Edit"> <span
									class="icon-pencil7" ng-click="edit(xt)"></span>
							</a></li>
							<li class="text-danger-600"><a href="#" data-popup="tooltip"
								title data-original-title="Remove"> <span class="icon-trash"
									ng-click="remove(xt)"></span>
							</a></li>
							<a href="#" data-popup="tooltip" title
								data-original-title="Options"> <span class="icon-cog7"
								ng-click="test()"></span>
							</a>
							</li>
						</ul>
					</td>
					<td align="right" ng-show="xt.editing">
					   <button class="btn  bg-teal" ng-click="saveEdition(xt)"	type="button">Save</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- /scrollable datatable -->

<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/icons/icomoon/styles.css"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/core.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/components.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<!-- Theme JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/pages/datatables_basic.js"></script>


