<div class="content-group" ng-controller="xTransactionController as control">
	<div class="page-header page-header-inverse"
		style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
		<div class="page-header-content  bg-info-800">
			<div class="page-title">
				<h5>
					<i class="icon-arrow-left52 position-left"></i> <span
						class="text-semibold">Transactions</span> <small
						class="display-block">Register All your transactions</small>
				</h5>
				<a class="heading-elements-toggle"><i class="icon-more"></i></a>
			</div>
		</div>
	</div>
	<div class="panel panel-flat">
		<button ng-click="addNewXT()">create new </button>
	
		<table class="table" width="100%">
			<thead>
				<tr class="bg-info-600 border-info-600">
					<th>All Transactions</th>
					<th>Main Account</th>
					<th>Sub Account</th>
					<th>Debit/Credit</th>
					<th>Amount</th>
					<th>Date Creation</th>
					<th style="text-align: right">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="xt in xtransactions">
					<td>
						<span ng-hide="xt.editing || xt.creating">{{xt.description}}</span>
						<input ng-show="xt.editing || xt.creating"  type="text" class="form-control"	ng-model="xt.description">
					</td>
					<td>
					    <span ng-hide="xt.editing || xt.creating">{{xt.account.description}}</span>
			        		<select ng-show="xt.editing || xt.creating"  ng-model="xt.account" selected 
									ng-options="x.description for x in mainGroups track by x.description">
							</select>
					</td>
					<td>
					     <span ng-hide="xt.editing || xt.creating">{{xt.accSubGroup.description}}</span>
								<select ng-show="xt.editing || xt.creating" ng-model="xt.accSubGroup" 
								    ng-options="x.description for x in getSubAccountByAccount(xt.account) track by x.description">
								</select>
					</td>
					<td>
					   	<span ng-hide="xt.editing || xt.creating">{{xt.entrada ? 'Debit': 'Credit'}}</span>
								<select ng-show="xt.editing || xt.creating" ng-model="xt.entrada"> 
									<option selected value="false" > Credit </option>					
									<option value="true"> Debit </option>					
								</select>
					</td>
					<td>
					    <span ng-hide="xt.editing || xt.creating">{{xt.valor | currency}}</span>
						<input ng-show="xt.editing || xt.creating" type="text" class="form-control" ng-model="xt.valor">
					</td>
					<td>
						<span>{{xt.dateTransaction | date:'short'}}</span>
					</td>
					<td align="right" ng-hide="xt.editing || xt.creating">
						<ul class="icons-list">
							<li class="text-primary-600">
							<a href="#"	data-popup="tooltip" title data-original-title="Edit"> <span
									class="icon-pencil7" ng-click="edit(xt)"></span>
							</a></li>
							<li class="text-danger-600"><a href="#" data-popup="tooltip"
								title data-original-title="Remove"> 
								<span class="icon-trash" ng-click="remove(xt)"></span>
							</a>
							</li>
						</ul>
					</td>
					<td align="right" ng-show="xt.editing">
					   <button class="btn bg-teal" ng-click="saveEdition(xt)" type="button">Save</button>
					</td>
					<td align="right" ng-show="xt.creating">
					   <button class="btn bg-teal" ng-click="create(xt)" type="button">Save</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- /scrollable datatable -->

<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/icons/icomoon/styles.css"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/core.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/components.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<!-- Theme JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/pages/datatables_basic.js"></script>