<head>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/pickers/daterangepicker.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>
</head>

	<div ng-controller="loginController">
	<div class="login-container">
		<!-- Page container -->
		<div class="page-container">

			<!-- Page content -->
			<div class="page-content">

				<!-- Main content -->
				<div class="content-wrapper">

					<!-- Content area -->
					<div class="content">
					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
					<!-- Simple login form -->
						<div>
							<div class="panel panel-body login-form">
								<div class="text-center">
									<div class="icon-object border-slate-300 text-slate-300">
										<i class="icon-reading"></i>
									</div>
									<h5 class="content-group">
										Login to your account <small class="display-block">Enter
											your credentials below</small>
									</h5>
								</div>

								<div class="form-group has-feedback has-feedback-left">
									<input type="text" class="form-control" ng-model="person.name"
										placeholder="Username">
									<div class="form-control-feedback">
										<i class="icon-user text-muted"></i>
									</div>
								</div>

								<div class="form-group has-feedback has-feedback-left">
									<input type="password" ng-model="person.password"
										class="form-control" placeholder="Password">
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" ng-click="login()"
										class="btn btn-primary btn-block">
										Sign in <i class="icon-circle-right2 position-right"></i>
									</button>
								</div>

								<div class="text-center">
									<a href="login_password_recover.html">Forgot password?</a>
								</div>
								<div class="text-center">
										<a ui-sref="ui.register">Create an account</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
