<head>
<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/icons/icomoon/styles.css"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/core.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/components.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript"	src="css/bootstrap/assets/js/plugins/visualization/d3/d3.min.js"></script>
<script type="text/javascript"	src="css/bootstrap/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
<script type="text/javascript"	src="css/bootstrap/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript"	src="css/bootstrap/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript"	src="css/bootstrap/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script type="text/javascript"	src="css/bootstrap/assets/js/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/plugins/pickers/daterangepicker.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>
<script type="text/javascript" src="/js/lib/angular-translate/angular-translate.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-translate/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
</head>

<div ng-controller="loginController">
	<div class="login-container">
		<!-- Page container -->
		<div class="page-container">

			<!-- Page content -->
			<div class="page-content">

				<!-- Main content -->
				<div class="content-wrapper">

					<!-- Content area -->
					<div class="content">
						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
						<!-- Simple login form -->
						<form name="userForm">
							<div class="panel panel-body login-form">
								<div class="text-center">
									<div class="icon-object border-slate-300 text-slate-300">
										<i class="icon-reading"></i>
									</div>
									<h5 class="content-group">
										Login to your account <small class="display-block">Enter
											your credentials below</small>
									</h5>
								</div>

								<div class="form-group has-feedback has-feedback-left" show-errors>
								    	<input type="text" class="form-control" name="username" ng-model="person.name"
											required placeholder="Username">
										
										<div class="form-control-feedback">
											<i class="icon-user text-muted"></i>
										</div>
								</div>

								<div class="form-group has-feedback has-feedback-left" show-errors>
									<input type="password" ng-model="person.password"
										class="form-control" name="password" 
										required placeholder="Password">
										
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" ng-click="login()"
										class="btn bg-teal btn-block btn-lg">
										Sign in <i class="icon-circle-right2 position-right"></i>
									</button>
								</div>

								<div class="text-center">
									<a ui-sref="ui.password-recover">Forgot password?</a>
								</div>
								
								<div class="content-divider text-muted form-group">
									<span>Don't have an account?</span>
								</div>

								<a ui-sref="ui.register" 
								class="btn btn-default btn-block content-group">Sign up</a>
								
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
