<head>
<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/icons/icomoon/styles.css"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/core.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/components.css" rel="stylesheet"
	type="text/css">
<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/visualization/d3/d3.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script type="text/javascript"
	src="css/bootstrap/assets/js/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/plugins/pickers/daterangepicker.js"></script>
<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>

<script src="/webjars/angularjs/1.6.6/angular.js"></script>
<script src="/webjars/angularjs/1.6.6/angular-resource.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
<script src="/js/lib/moment.js"></script>
<script src="/js/app/restangular.js"></script>


<script src="/js/app/account/account.module.js"></script>
<script src="/js/app/account/account.controller.js"></script>
<script src="/js/app/account/account.service.js"></script>

<script src="/js/app/acc-subgroup/acc.subgroup.module.js"></script>
<script src="/js/app/acc-subgroup/acc.subgroup.controller.js"></script>
<script src="/js/app/acc-subgroup/acc.subgroup.service.js"></script>

<script src="/js/app/xtransac/xtransac.module.js"></script>
<script src="/js/app/xtransac/xtransac.controller.js"></script>
<script src="/js/app/xtransac/xtransac.service.js"></script>

<script src="/js/app/user/bouncer/bouncer.module.js"></script>
<script src="/js/app/user/bouncer/bouncer.service.js"></script>
<script src="/js/app/user/bouncer/bouncer.controller.js"></script>

<script src="/js/app/user/user.module.js"></script>
<script src="/js/app/user/user.service.js"></script>
<script src="/js/app/user/AuthService.js"></script>
<script src="/js/app/common/directives.js"></script>
<script src="/js/app/router.js"></script>
<base href="/"></base>

</head>

<div ng-controller="userRecoverController as vm">
	<div class="login-container">
		<!-- Page container -->
		<div class="page-container">

			<!-- Page content -->
			<div class="page-content">

				<!-- Main content -->
				<div class="content-wrapper">
					<!-- Content area -->
					<div class="content">
						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
					<!-- Password recovery -->
					<form name="vm.userRecoverForm" class="form-validate">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
								<h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
							</div>
							<div class="form-group has-feedback has-feedback-left" show-errors>
								<input 
								 type="email" 
								 name="recover"
  						 	     ng-minlength="6"
								 class="form-control"
								 ng-model="user.email" 
								 placeholder="Your email" required>
								 
								<div class="form-control-feedback">
									<i class="icon-mail5 text-muted"></i>
								</div>
				
								<label  ng-show="vm.userRecoverForm.recover.$touched && 
												vm.userRecoverForm.recover.$invalid"
									    class="validation-error-label"
									    for="recover">
												Enter a valid email. 
								</label>
							</div>
	
							<button ng-click="recover(user)" class="btn bg-teal btn-block btn-lg">
								Reset password <i class="icon-arrow-right14 position-right"></i>
							</button>
							
							<button-navigate-to-login></button-navigate-to-login>

						</div>
					</form>
					<!-- /password recovery -->
					</div>
					<!-- /advanced login -->
				</div>
			</div>
		</div>
	</div>
</div>
