
<!-- Horizontal form options -->
<div class="row">
	<div class="col-md-6">	

		<!-- Basic layout-->
		<form action="#" class="form-horizontal">
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Accounts</h5>
					<div class="heading-elements">
						<ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul>
					</div>
				</div>

				<div class="panel-body">

					<div class="form-group">
						<label class="col-lg-3 control-label">Name:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Name:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Name:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control">
						</div>
					</div>




					<div class="form-group">
						<label class="col-lg-3 control-label">Gender:</label>
						<div class="col-lg-9">
							<label class="radio-inline"> <input type="radio"
								class="styled" name="gender" checked="checked"> Male
							</label> <label class="radio-inline"> <input type="radio"
								class="styled" name="gender"> Female
							</label>
						</div>
					</div>
 
					<div class="text-right">
						<button type="submit" class="btn btn-primary">
							Submit form <i class="icon-arrow-right14 position-right"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="css/bootstrap/assets/js/core/app.js"></script>
	<script type="text/javascript" src="css/bootstrap/assets/js/pages/form_layouts.js"></script>
	<!-- /theme JS files -->


